<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        div.red-area{
            background-color: red;
        }
    </style>
</head>
<body>
{% if messages %}
    <section class="message-area">
        {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                <p class="message-text">{{ message }}</p>
            </div>
        {% endfor %}
    </section>
{% endif %}
{% block content %}
{% endblock %}
<hr>
<footer>
    <p><a href="{% url 'contact:top' %}">contact ページの一覧に戻る</a></p>
</footer>
</body>
</html>