{% extends "contact/base.html" %}
{% block content %}
    <p>
        <a href="{% url 'contact:as_div' %}">as_div で出力</a>
    </p>
    <p>
        <a href="{% url 'contact:as_p' %}">as_p で出力</a>
    </p>
    <p>
        <a href="{% url 'contact:as_table' %}">as_table で出力</a>
    </p>
    <p>
        <a href="{% url 'contact:as_ul' %}">as_ul で出力</a>
    </p>
    <hr>
    <p>
        <a href="{% url 'contact:each' %}">すべて個別に出力</a>
    </p>
    <p>
        <a href="{% url 'contact:iter' %}">for 文で出力</a>
    </p>
    <hr>
    <p>
        <a href="{% url 'contact:with_data' %}">"bound" 状態で出力する場合</a>
    </p>
    <p>
        <a href="{% url 'contact:post' %}">post メソッドを調べてみよう</a>
    </p>
    <p>
        <a href="{% url 'contact:method' %}">post での具体的な処理の例</a>
    </p>
    <p>
        <a href="{% url 'contact:form_view' %}">form view を使ってみよう</a>
    </p>
    <hr>
    <p>
        <a href="{% url 'contact:file' %}">ファイルアップロードのサンプル</a>
    </p>
    <hr>
    <p>
        <a href="{% url 'contact:csrf' %}">csrf 対策がされていないページへのポスト</a>
    </p>
    <p>
        <a href="{% url 'contact:csrf_script' %}">csrf 対策がされていないページへ勝手にポストされてしまう</a>
    </p>
{% endblock %}